body {
    background-color: #1E1E1E;
    color: #AAAAAA;
    font-family: 'Quicksand';
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
}

.topnav #myLinks {
    display: none;
    position: relative;
    z-index: 100;
    width: 60vw;
}

.topnav a {
    z-index: 5;
    display: none;
    pointer-events: all;
    border-radius: 0.5em 0.5em;
    width: auto;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    position: fixed;
}


.top-menu {
    padding: 0.7vw;
    left: 0vw;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
}

footer{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.footer-text-holder {
    width: 50vw;
    text-align: center;
    font-size: 1vw;
}

.icon-link{
    width: 3vw;
    pointer-events: all;
}

.menu-item {
    color: rgb(204, 204, 204);
    position: relative;
    font-family: Arial;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 2vw;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

.title-text {
    font-size: 1vw;
}

.HoleEMole {
    margin-top: 7vw;
    margin-bottom: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.cascaded-shadowmap-wrong {
    width: 45vw;
}

.nbfeImage {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.item-container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 45vw;
    min-height: 100vh;
    height: auto;
    padding: 40px;
    padding-top: 10vh;
    position: relative;
    left: 50%;
    transform: translate(-50%, -2%);
}

.grapple-ascent-game {
    width: 960px;
    height: 600px;
    transform: scale(0.85)
}

.video-contribution-holder {
    display: flex;
    align-self: baseline;
}

.video-player {
    flex: 1;
    width: 40vw;
    height: 14vw
}

.contibution {
    font-size: 1vw;
    flex: 1;
    text-align: center;
    color: rgb(199, 181, 38);
}

.contibutions {
    cursor: pointer;
    font-size: 1vw;
}

.contribution-titletext {
    margin-bottom: 3vw;
    margin-top: 7vw;
    font-size: 2vw;
}

.result-text {
    text-align: justify;
    width: 100%;
    font-size: 1vw;
    margin-bottom: -0.5vw;
}

.contribution-text {
    text-align: justify;
    width: 100%;
    font-size: 1vw;
}

.contribution-text-centered {
    padding-top: 0.5vw;
    text-align: center;
    width: 100%;
    font-size: 0.8vw;
}

.Engine {
    text-align: center;
    font-size: 1vw;
}

.SpriteSheetImage {
    width: auto;
    height: 14vw;
    margin-left: 2vw;
}

.SpriteSheetImage {
    width: auto;
    height: 14vw;
    margin-left: 2vw;
}

.awards {
    width: auto;
    height: 9vw;
    transform: translate(0, -5vw);
}

.Rawards {
    width: auto;
    height: 9vw;
}

.awards-GOTY {
    width: auto;
    height: 15vw;
    transform:translate(0, -6.75vw);
    margin-left:-2vw;
    margin-right:-2vw;
}

.interpolated-position {
    width: 100%;
    margin-bottom: 1vw;
}

.traum-animation {
    width: 10vw;
    height: auto;
}

.level-select {
    border-radius: 0.7vw 0.7vw 0.7vw 0.7vw;
    width: 37vw;
    height: auto;
}

.text-image-container-horiz {
    display: flex;
    flex-direction: row;
}

.traum-spritesheet-container {
    margin-bottom: 1vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
}

.traum-spritesheet {
    height: 10vw;
    display: flex;
    flex-direction: row;
}

.closing-thoughts-title {
    margin-top: 7vw;
    font-size: 3vw;
}

.closing-thoughts {
    font-size: 1vw;
}

.Playable-game {
    margin-top: 2vw;
    font-size: 1vw;
}

hr {
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 100%;
}

.general-image {
    width: 35vw;
    height: 20vw;
}

.moon-timer {
    width: 40vw;
    height: auto;
}

.main-menu {
    width: 40vw;
    height: 19vw;
}

.bezier-curve-code {
    width: 25vw;
    height: auto;
    flex: 1;
    margin-left: 0.3vw;
    border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
}

.contribution-text-bezier-lerp {
    text-align: justify;
    width: 100%;
    font-size: 1vw;
}

.download-game {
    margin-top: 2vw;
    z-index: 1;
    padding: 1%;
    flex: 1;
    width: 100%;
    height: auto;
    font-size: 1.5vw;
    color: #1E1E1E;
    background-color: rgb(204, 204, 204);
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    box-shadow: rgb(35, 35, 35) 0.2vw 0.2vw;
    cursor: pointer;
}
.shape-cast {
    width: 45vw;
    height: 4vw;
}

.text-render-image {
    margin-top: 2vw;
    width: 45vw;
    height: 23vw;
}
.text-rendered {
    margin-top: 2vw;
    width: 40vw;
    height: 9vw;
}
.text-ps {
    margin-top: 2vw;
    width: 40vw;
    height: 6.5vw;
}

.contact-title {
    font-size: 2vw;
}


@media (max-width: 1000px), (pointer: coarse) {

    .bezier-curve-code {
        width: 85vw;
    }

    .icon-link {
        width: 8.5vw;
    }

    .Playable-game{
        display: none;
    }

    .grapple-ascent-game {
        display: none;
    }

    .footer-text-holder {
        width: 80vw;
        font-size: 2.5vw;
    }

    .contact-title {
        font-size: 4vw;
    }

    .moon-timer {
        width: 80vw;
    }

    .video-player {
        width: 60vw;
        height: 35vw;
    }

    .general-image {
        width: 80vw;
        height: auto;
    }

    .topnav a {
        display: block;
    }

    .nbfeImage {
        width: 100%;
    }

    .contribution-titletext {
        font-size: 5vw;
    }

    .closing-thoughts-title {
        margin-top: 7vw;
        font-size: 3vw;
    }

    .closing-thoughts {
        font-size: 3vw;
    }

    .item-container {
        width: 80vw;
    }

    .SpriteSheetImage{
        height: 30vw;
    }

    .code-snippet {
        font-size: 2.5vw;
    }

    .Engine {
        margin-top: 9vw;
        font-size: 3vw;
    }

    .contibution {
        font-size: 3vw;
    }

    .contibutions {
        font-size: 3vw;
    }

    .awards {
        height: 18vw;
        transform: translate(0, -12vw);
    }

    .Rawards {
        height: 18vw;
    }

    .awards-GOTY {
        height: 30vw;
        transform: translate(0, -13.75vw);
    }

    .contribution-text {
        font-size: 3vw;
    }

    .contribution-text-moving-platform {
        font-size: 1vw;
    }

    .contribution-text-centered {
        font-size: 2.5vw;
    }

    .contribution-text-cascade {
        font-size: 1vw;
    }

    .contribution-text-transform-animator {
        text-align: justify;
        font-size: 1vw;
        width: 100%;
    }
}

@media (pointer:coarse), (max-width: 1000px) {

    .top-menu {
        height: 18px;
        display: none;
    }

    .video-contribution-holder {
        display: block;
        align-self: center;
    }
    .text-image-container-horiz {
        flex-direction: column;
    }

    .contribution-text{
        align-self: center;
    }
    .SpriteSheetImage {
        margin-top: 3vw;
        align-self: center;
    }
}

html {
    scroll-behavior: smooth;
}

button {
    position: absolute;
    transform: translate(40vw, 80vw);
}

.exploding, .exploding:focus, .exploding:hover {
    background: transparent;
    color: transparent;
}

.exploding {
    pointer-events: none;
    position: relative;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
}

.particle--debris {
    background: #255ff4;
}

.particle--fire {
    border-radius: 50%;
}
