body {
    background-color: #000000;
    color: #AAAAAA;
    font-family: 'Quicksand';
    background-attachment: fixed;
    pointer-events: none;
}

.intro {
    font-size: 4vw;
    text-align: center;
   
}

.specs {
    font-size: 1.5vw;
    text-align: center;
}

.intro-to-specialization {
    width: 100%;
    align-self: center;
}

.intro-spec-splitter {
    width: 58%;
}

.me-image {
    width: 20vw;
    clip-path: circle();
}

.icon-link {
    width: 3vw;
}

.above-me-container {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.about-me-text {
    align-self: center;
    font-size: 1.3vw;
    text-align: justify;
    width: 55vw;
    margin-left: 5vw;
}

.games-container {
    display: grid;
    grid-gap: 2vw;
    align-content: center;
    justify-content: center;
}

.all-games-container {
    margin-top: 5vw;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-self: center;
    width: 100%;
    height: 4.5vw;
    flex: 1;
    display: flex;
}

.all-games {
    pointer-events: all;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 3.4vw;
    width: 35%;
    max-width: 450px;
    max-height: 50px;
    background-color: #AAAAAA;
    color: #292929;
    align-self: center;
    padding: 2%;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 0.1em 0.1em 0.16em rgb(65, 65, 65);
    text-shadow: 0.04em 0.04em 0.1em rgb(100, 100, 100);
}

.spam-break {
    position: relative;
    pointer-events: none;
    filter: blur(6px);
    opacity: 0.15;
    object-fit: cover;
    height: 30vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (min-width: 1250px) {
    .all-games {
        font-size: 2.6rem;
    }
}

@keyframes scaleUpAllGames {
    100% {
        transform: scale(1.05);
    }
}

@keyframes scaleBackAllGames {
    0% {
        transform: scale(1);
    }
}

.games-under-text {
    font-size: 2.5vw;
    margin-top: -2.5vw;
}

.specialization-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.specialization {
    max-width: 1100px;
    max-height: calc( 1100px / 1.8);
    width: 53vw;
    height: 30vw;
    display: flex;
    position: relative;
    pointer-events: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.traum, .golem-quest, .stella-orbit, .hole-e-mole, .grapple-ascent, .nongine {
    max-width: 724px;
    max-height: calc( 724px / 1.8);
    width: 45vw;
    height: 25vw;
    display: flex;
    position: relative;
    pointer-events: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.traum, .golem-quest {
    grid-row: 1;
}

.stella-orbit, .hole-e-mole {
    grid-row: 2;
}

.grapple-ascent {
    flex: 1;
    align-self: center;
}

.nongine {
    grid-column: 2;
}

.pitch-traum {
    margin-top: 12%;
}

.pitch-golem {
    margin-top: 11%;
}

.pitch-stella {
    margin-top: 5.7%;
}

.pitch-mole {
    margin-top: 16.4%;
}

.pitch-grapple {
    margin-top: 17%;
}

.game {
    flex: 1;
    z-index: 3;
    pointer-events: all;
    opacity: 1;
}

@keyframes FadeGame {
    100% {
        opacity: 0.15;
    }
}

@keyframes FadeGameBack {
    0% {
        opacity: 0.15;
    }
}

.game-text-behind {
    flex: 1;
    position: absolute;
    z-index: -2;
    font-size: 1.7vw;
    padding: 3%;
}

.title-text {
    margin-top: 10vw;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 2vw;
}

@media (min-width: 1607px) {
    .game-text-behind {
        font-size: 1.8rem;
    }
}

@media (min-width: 1920px) {
    .title-text {
        font-size: 2.5vw;
    }
}

.top-menu {
    padding: 0.7vw;
    left: 0vw;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 30px;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.menu-item {
    color: rgb(204, 204, 204);
    position: relative;
    font-family: Arial;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 2vw;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

html {
    scroll-behavior: smooth;
}

footer {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.footer-text-holder {
    text-align: center;
    font-size: 1vw;
    width: 50vw;
}


.topnav #myLinks {
    display: none;
    position: relative;
    z-index: 100;
    width: 60vw;
}

.topnav a {
    display: none;
    pointer-events: all;
    border-radius: 0.5em 0.5em;
    width: auto;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    position: absolute;
}

@media (max-width: 1000px), (pointer: coarse) {

    .intro-spec-splitter {
        margin-top: -0.5vw;
    }

    .specs {
        margin-top: -1vw;
    }

    .spam-break {
        margin-top: 0vw;
    }

    .topnav a {
        display: block;
    }

    .top-menu {
        height: 18px;
        display: none;
    }

    .menu-item {
        font-size: 15px;
    }

    .traum, .golem-quest, .stella-orbit, .hole-e-mole, .grapple-ascent, .nongine {
        width: 60vw;
        height: 33vw;
    }

    .games-container {
        margin-top: 5vw;
    }

    .traum {
        grid-row: 1;
    }

    .golem-quest {
        grid-row: 2;
    }

    .stella-orbit {
        grid-row: 3;
    }

    .hole-e-mole {
        grid-row: 4;
    }
}

@media (max-width: 1000px), (pointer: coarse) {
    .nongine {
        grid-column: 1;
    }

    .pitch-golem {
        margin-top: 4%;
    }

    .game-text-behind {
        font-size: 2.4vw;
    }
}

button {
    position: absolute;
    transform: translate(40vw, 80vw);
}

.exploding, .exploding:focus, .exploding:hover {
    background: transparent;
    color: transparent;
}

.exploding {
    pointer-events: none;
    position: relative;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
}

.particle--debris {
    background: #255ff4;
}

.particle--fire {
    border-radius: 50%;
}
