body {
    color: #AAAAAA;
    background-color: #1E1E1E;
    font-family: 'Quicksand';
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
}

.title-text {
    padding-top: 10vh;
    background-position-y: top;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4vw;
}

footer{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.footer-text-holder {
    width: 50vw;
    text-align: center;
    font-size: 1vw;
}

.icon-link{
    width: 3vw;
}

.spec-holder {
    font-size: 1.3vw;
}

.specialization-titletext {
    margin-bottom: 1vw;
    margin-top: 7vw;
    font-size: 2vw;
}

.item-container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 45vw;
    min-height: 100vh;
    height: auto;
    padding: 40px;
    padding-top: 10vh;
    position: relative;
    left: 50%;
    transform: translate(-50%, -2%);
}

.Engine {
    text-align: center;
    font-size: 1vw;
}

.specialization-text {
    text-align: justify;
    width: 80%;
    font-size: 1vw;
}

.specialization-text-centered {
    padding-top: 0.5vw;
    text-align: center;
    width: 80%;
    font-size: 0.8vw;
}

.title-image {
    margin-top: 5vw;
    margin-bottom: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 89%;
}

.top-menu {
    padding: 0.7vw;
    left: 0vw;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100.5vw;
    height: 40px;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.menu-item {
    color: rgb(204, 204, 204);
    position: relative;
    font-family: Arial;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 2vw;
    background: none;
    border: none;
    cursor: pointer;
}

.default-image {
    display: flex;
    flex: 1;
    width: 80%;
    height: auto;
    margin-top: 3vw;
}

hr {
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 100%;
}

.Playable-game {
    margin-top: 2vw;
    font-size: 1vw;
}

html {
    scroll-behavior: smooth;
}
