body {
    background-image: url("background.png");
    color: #AAAAAA;
    font-family: 'Times New Roman';
    background-attachment: fixed;
    background-size: 100%;
}

.title-text {
    padding-top: 5%;
    background-position-y: top;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 64px;
}

.under-welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}

.game {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: 3%;
}

.game-title {
    text-align: center;
    margin-bottom: 3%;
}

.game-trailer-right {
    flex: 1;
    width: 50%;
    height: auto;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 7px 7px;
    border-radius: 0px 0.8em 0.8em 0px;
}

.game-text-container-right {
    flex: 1;
    width: 50%;
    height: auto;
    font-size: 28px;
    color: #1E1E1E;
    background-color: #AAAAAA;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    border-radius: 0px 0.6em 0.6em 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 7px 7px;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px;
}

.game-trailer-left {
    flex: 1;
    width: 50%;
    height: auto;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 7px 7px;
    border-radius: 0.8em 0px 0px 0.8em;
}

.game-text-container-left {
    flex: 1;
    width: 50%;
    height: auto;
    font-size: 28px;
    color: #1E1E1E;
    background-color: #AAAAAA;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    border-radius: 0.6em 0px 0px 0.6em;
    box-shadow: rgba(0, 0, 0, 0.4) 7px 7px;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px;
}

@media (max-width: 1400px) {
    .game-text-container-right {
        font-size: 24px;
    }
    .game-text-container-left {
        font-size: 20px;
    }
}
@media (max-width: 1200px) {
    .game-text-container-right {
        font-size: 20px;
    }
    .game-text-container-left {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .game {
        flex-direction: column;
    }

    .game-trailer-left {
        border-radius: 0.8em 0.8em 0px 0px;
        width: 100%;
    }

    .game-text-container-right {
        border-radius: 0px 0px 0.6em 0.6em;
        width: 100%;
        font-size: 24px;
    }

    .game-trailer-right {
        border-radius: 0px 0px 0.8em 0.8em;
        width: 100%;
    }

    .game-text-container-left {
        border-radius: 0.6em 0.6em 0px 0px;
        width: 100%;
        font-size: 24px;
    }

    .game-title {
        font-size: 32px;
    }
}

.my-games-tga-projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    margin-top: 3%;
}

.my-games {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 82px;
    margin-top: 50vh;
}

.about-me-text {
    font-size: 30px;
    margin-bottom: 3%;
}

.about-me {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.about-container {
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: auto;
    padding: 20px;
    position: relative;
    border-radius: 0px 0.6em 0.6em 0px;
    top: 10vh;
    left: -35%;
    box-shadow: rgb(0, 0, 0) 0.5em 0.6em;
}

.item-container {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 70vw;
    min-height: 100vh;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.top-menu {
    background-color: rgba(0, 0, 0, 0.5);
    width: 105vw;
    height: 40px;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.menu-item {
    color: rgb(204, 204, 204);
    position: relative;
    font-family: Arial;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
