body {
    background-color: #000000;
    color: #AAAAAA;
    font-family: 'Quicksand';
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
    padding: 5vw;
}

.intro{
    font-size: 4vw;
    text-align: center;
    transform: translate(0, -20vw)
}

.specs {
    font-size: 1vw;
    text-align: center;
    transform: translate(0, -20vw)
}

.intro-to-specialization{
    width: 130%;
    margin-left: -15%;
    margin-top: -18.55vw;
}

.intro-spec-splitter {
    width: 50.8vw;
    transform: translate(0, -20.3vw)
}

.me-image {
    width: 20vw;
    clip-path: circle();
}

.icon-link{
    width: 3vw;
}

.above-me-container{
    width: 80vw;
    display: flex;
    justify-content: center;
}

.about-me-text{
    align-self: center;
    font-size: 1.3vw;
    text-align: justify;
    width: 55vw;
    margin-left: 5vw;
}

.games-container {
    display: grid;
    grid-gap: 2vw;
    align-content: center;
    justify-content: center;
}

.all-games-container{
    margin-top: 5vw;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-self: center;
    width: 100%;
    height: 4.5vw;
    flex: 1;
    display: flex;
}

.all-games{
    cursor: pointer;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 3.4vw;
    width: 35%;
    background-color: #AAAAAA;
    color: #292929;
    align-self: center;
    padding: 0.5vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 0.1em 0.1em 0.16em rgb(65, 65, 65);
    
    text-shadow: 0.04em 0.04em 0.1em rgb(100, 100, 100);
}

@keyframes scaleUpAllGames {
    100% {transform: scale(1.05);}
}
@keyframes scaleBackAllGames {
    0% {transform: scale(1);}
}

.games-under-text{
    font-size: 2.5vw; 
    margin-top: -2.5vw;
}

.specialization-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.specialization {
    width: 53vw;
    height: 30vw;
    display: flex;
    position: relative;
    pointer-events: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.spam-break {
    filter: blur(6px);
    opacity: 0.15;
    object-fit: cover;
    width: 110vw;
    height: 20vw;
    display: flex;
    position: relative;
    pointer-events: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-10vw, -6vw)
}

.traum, .golem-quest, .stella-orbit, .hole-e-mole, .grapple-ascent {
    width: 45vw;
    height: 25vw;
    display: flex;
    position: relative;
    pointer-events: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.traum, .golem-quest {
    grid-row: 1;
}

.stella-orbit, .hole-e-mole {
    grid-row: 2;
}

.grapple-ascent{
    flex: 1;
    align-self: center;
}

.pitch-traum{
    margin-top: 12%;
}
.pitch-golem{
    margin-top: 11%;
}
.pitch-stella{
    margin-top: 5.7%;
}
.pitch-mole{
    margin-top: 16.4%;
}
.pitch-grapple{
    margin-top: 17%;
}

.game {
    flex: 1;
    z-index: 3;
    pointer-events: all;
    opacity: 1;
}

@keyframes FadeGame {
    100% {opacity: 0.15;}
  }
  @keyframes FadeGameBack {
    0% {opacity: 0.15;}
  }

.game-text-behind {
    flex: 1;
    position: absolute;
    z-index: -2;
    font-size: 1.8vw;
    padding: 1vw;
}

.title-text {
    margin-top: 10vw;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 2vw;
}

.top-menu {
    padding: 0.7vw;
    left: 0vw;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100.5vw;
    height: 40px;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.menu-item {
    color: rgb(204, 204, 204);
    position: relative;
    font-family: Arial;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 2vw;
    background: none;
    border: none;
    cursor: pointer;
}

.icon-LinkedIn{
    width: 100px;
    height: 100px;
}

html {
    scroll-behavior: smooth;
}

footer{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.footer-text-holder {
    width: 50vw;
    text-align: center;
    font-size: 1vw;
}

@media (max-width: 1000px), (pointer: coarse) {
    .traum, .golem-quest, .stella-orbit, .hole-e-mole, .grapple-ascent {
        width: 60vw;
        height: 33vw;
    }

    .games-container{
        margin-top: 5vw;
    }

    .traum {
        grid-row: 1;
    }

    .golem-quest {
        grid-row: 2;
    }

    .stella-orbit {
        grid-row: 3;
    }

    .hole-e-mole {
        grid-row: 4;
    }
}

@media (max-width: 1000px), (pointer: coarse) {
    .pitch-traum{
        margin-top: 26%;
    }
    .pitch-golem{
        margin-top: 26%;
    }
    .pitch-stella{
        margin-top: 22%;
    }
    .pitch-mole{
        margin-top: 28%;
    }
    .pitch-grapple{
        margin-top: 16%;
    }
}
